* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.webview {
  width: 100%;
  margin: auto;
}
.webview .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #29AE81;
  color: white;
}
.webview .intro .container h1 {
  font-size: 2rem;
  text-align: center;
}
.webview .intro .container p {
  font-size: 1rem;
  text-align: center;
}
.webview .intro .container .m-auto-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}
.webview .intro .container .m-auto-btn .btn-portfolio {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  width: 160px;
  height: 35px;
  border-radius: 6px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}
.webview .aulas {
  width: 100%;
}
.webview .aulas .container {
  padding: 10px;
}
.webview .aulas .container .title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.webview .aulas .container .title h2 {
  font-family: "Ruda", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  font-weight: bold;
  color: #29AE81;
}
.webview .aulas .container .row {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.webview .aulas .container .row .c-photo {
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
}
.webview .aulas .container .row .c-photo img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.webview .aulas .container .row .c-descricao {
  width: 100%;
}
.webview .aulas .container .row .c-descricao p {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 20px;
}
.webview .aulas .container .row .c-descricao .habilidades {
  width: 100%;
}
.webview .aulas .container .row .c-descricao .habilidades .h-item {
  width: 100%;
  margin-bottom: 10px;
}
.webview .aulas .container .row .c-descricao .habilidades .h-item .h-title {
  width: 100%;
}
.webview .aulas .container .row .c-descricao .habilidades .h-item .h-title h3 {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-weight: bold;
}
.webview .aulas .container .row .c-descricao .habilidades .h-item .h-porcentagem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 25px;
}
.webview .aulas .container .row .c-descricao .habilidades .h-item .h-porcentagem .h-porcentagem-geral {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 6px;
  border-radius: 6px;
}
.webview .aulas .container .row .c-descricao .habilidades .h-item .h-porcentagem .h-porcentagem-geral .h-porcentagem-conhecimento {
  height: 100%;
}
.webview .aulas .container .row .c-descricao .habilidades .h-item .h-porcentagem .h-porcentagem-geral span {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  margin-left: 100px;
}
.webview .servicos {
  width: 100%;
  background-color: #29AE81;
  color: white;
}
.webview .servicos .container {
  padding: 10px;
}
.webview .servicos .container .s-title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.webview .servicos .container .s-title h2 {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}
.webview .servicos .container .s-carrousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.webview .servicos .container .s-carrousel .s-carrousel-container {
  display: flex;
  flex-direction: row;
  min-width: 100%;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item {
  min-height: 260px;
  background-color: white;
  color: #29AE81;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .title {
  width: 100%;
  padding: 10px;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .title p {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  font-weight: bold;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 180px;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .icon span i {
  font-size: 38px;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .texto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 10px;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .texto p {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.4rem;
}
.webview .portfolios {
  width: 100%;
  min-height: 100%;
}
.webview .portfolios .container {
  padding: 10px;
}
.webview .portfolios .container .p-title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.webview .portfolios .container .p-title h2 {
  font-family: "Ruda", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  font-weight: bold;
  color: #29AE81;
}
.webview .portfolios .container .projetos {
  width: 100%;
}
.webview .portfolios .container .projetos .projeto {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  row-gap: 10px;
}
.webview .portfolios .container .projetos .projeto .photos {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.webview .portfolios .container .projetos .projeto .photos .img {
  width: 100%;
  height: 100%;
  position: relative;
}
.webview .portfolios .container .projetos .projeto .photos .img:hover .descricao {
  position: absolute;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #29ae81;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
.webview .portfolios .container .projetos .projeto .photos .img:hover .descricao p {
  display: block;
  color: white;
}
.webview .portfolios .container .projetos .projeto .photos .img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.webview .portfolios .container .projetos .projeto .photos .descricao {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
}
.webview .portfolios .container .projetos .projeto .photos .descricao p {
  display: none;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  color: white;
}
.webview .contato {
  width: 100%;
  margin-bottom: 30px;
}
.webview .contato .container {
  padding: 10px;
}
.webview .contato .container .title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.webview .contato .container .title h2 {
  font-family: "Ruda", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  font-weight: bold;
  color: #29AE81;
}
.webview .contato .container .formulario {
  width: 100%;
}
.webview .contato .container .formulario form {
  width: 100%;
}
.webview .contato .container .formulario form .form-group {
  width: 100%;
}
.webview .contato .container .formulario form .form-group .controls {
  width: 100%;
  min-height: 70px;
}
.webview .contato .container .formulario form .form-group .controls label {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-weight: bold;
  color: #29AE81;
}
.webview .contato .container .formulario form .form-group .controls input {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 1px solid #29AE81;
}
.webview .contato .container .formulario form .form-group .controls input:active {
  border: 1px solid #29AE81;
  border-radius: 2px;
}
.webview .contato .container .formulario form .form-group .controls input:focus {
  border: 1px solid #29AE81;
  border-radius: 2px;
}
.webview .contato .container .formulario form .form-group .controls textarea {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 180px;
  padding: 10px;
  border: 1px solid #29AE81;
  outline: none;
}
.webview .contato .container .formulario form .form-group .controls textarea:active {
  border: 1px solid #29AE81;
  border-radius: 2px;
}
.webview .contato .container .formulario form .form-group .controls textarea:focus {
  border: 1px solid #29AE81;
  border-radius: 2px;
}
.webview .contato .container .formulario form .form-group .controls .btn-form-send {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  width: 140%;
  height: 40px;
  border: none;
  background-color: #29AE81;
  color: white;
  border-radius: 2px;
}
.webview .contato footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #29AE81;
}
.webview .contato footer span {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  color: white;
}/*# sourceMappingURL=style.css.map */