
@use 'sass/config';

// reset da página
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {

  @include config.font-paragraf;
  width: 100%;
  height: 100%;
  font-size: 18px; 
}

.webview {
  width: 100%;
  margin: auto;

  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: config.$color-green;
    color: config.$color-white;

    .container {
      h1 {
        font-size: 2rem;
        text-align: center;

      }
      p {
        font-size: 1rem;
        text-align: center;
      }

      .m-auto-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 8px;

        .btn-curso {
          @include config.font-paragraf;
          width: 160px;
          height: 35px;
          border-radius: 6px;
          border: 1px solid config.$color-white;
          background-color: transparent;
          color: config.$color-white;
        }
      }
    }   
  } 
}

.webview {
  .aulas {
    width: 100%;

    .container {
      padding: 10px;

      .title {
        width: 100%;
        text-align: center;
        margin-top: 20px;

        h2 {
          @include config.font-subtitle;
          font-size: 1.6rem;
          font-weight: bold;
          color: config.$color-green;
        }
      }
    }
  }
   
}